html.body{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
/* Global Classes */
a{
    text-decoration: none;
    color: var(--text-gray);
}
.flex-row{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
}
ul{
    list-style-type: none;
}
:root{
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color */
    --sky: linear-gradient(to top, #30cfd0 0%, #330867 100%);


    /* gradient color */

}
h1{
    font-family: 'Trebuchet MS';
    font-size: 2.5rem;
}
h3{
    font-family:Georgia ;
    font-size: 1.3rem;
}
h2{
    font-family: 'Lucida Sans'; 

}
.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family:Georgia ;
    cursor: pointer;
}

/* Global Classes */

/* Navbar */
.nav{
    background: white;
    padding: 0.2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.nav .nav-menu{
    justify-content: space-between;
    
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons{
    font-size: 1.4rem;
    color: var(--text-gray);
    

}
.collapse{
    height: 35rem;
}
.nav .nav-item{
    
    display:flex ;
    margin: 0;

}
.nav .nav-item .navlink{
    padding: 1.6rem 1rem ;
    font-size: 1.1rem;
    position: relative;
    font-family: 'Piazzolla', serif;
    color: var(--text-gray);
    text-decoration: none;

}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0; 
    display: block;
    font-family: 'Piazzolla', serif;
    font-size: 1.6rem;
    color: var(--text-gray);
}
.nav .nav-item .navlink:hover{
    background-color: var(--midnight);
}
.nav .nav-item .navlink:hover a{
color: var(--white);
}
.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0.2rem;

    color: var(--text-gray);

}
.nav .social i:hover{
    color: #00000083;
}

/* Navbar */
/* Main Content */
main .site-title{
    background: url('../image/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}
main .site-title h1, h3{
    margin:2rem ;
}
main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}
main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
}
















/* Main Content */
/* Viewport <=750px */
@media only screen and (max-width:750px){
    .nav .nav-menu,.nav  .nav-item{
        flex-direction: column;

    }
    .nav .toggle-collapse{
        display: initial;
    }
}



/* Viewport <=750px */